div.container {
    max-width: 1200px;
}

h1.featured-title {
    text-align: center;
}

div.footer__inner {
    width: 100%;
    max-width: 1200px;
}

hr.series-separator {
    margin-top: 60px;
    margin-bottom: 40px;
}